body {
    font-family: "Open Sans", sans-serif;
    color:#5a656e;
    background-color: #F1FAEE;
  }
#navbar {
    background-color: #F1FAEE;
}
#hero {
    color: white;
    background-color: #235789;
 } 
 /* about section image css */
.imageAboutPage {
    width: 100%;
}
.info-title {
    text-align: center;
}